APP_NAME=EduViz
APP_ENV=development
APP_PORT=8000
DEBUG=True
DATABASE_URL=postgresql://raju:6014@localhost:5432/eduviz_db
REDIS_URL=redis://redisuser:MyRedis-6014@redis-19147.c74.us-east-1-4.ec2.cloud.redislabs.com:19147
REDIS_TTL=3600
ALLOWED_ORIGINS=http://localhost:63702 